<!-- templates/payment/paypal_payment.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ολοκλήρωση Πληρωμής</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Πληρωμή με PayPal</h1>
        <form action="{% url 'paypal_payment' %}" method="post">
            {% csrf_token %}
            {{ form.render }}
            <button type="submit" class="btn btn-primary">Πληρωμή με PayPal</button>
        </form>
    </div>
</body>
</html>
