<!-- authentication/templates/authentication/create_subscription.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Δημιουργία Συνδρομής</h2>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" action="{% url 'create_subscription' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Δημιουργία Συνδρομής</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
