{% extends 'base.html' %}

{% load static %}

{% block title %}Payment{% endblock %}

{% block content %}
<div class="container py-4 py-md-5 my-5">
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="{% static 'img/illustrations/payment.svg' %}" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-9 text-center text-md-start">
            <h2 class="display-6 fw-bold mb-5">
                <span class="underline pb-1"><strong>Ολοκλήρωση Πληρωμής</strong></span>
            </h2>
            <div id="paypal-button-container"></div>
            <p>PayPal Client ID: {{ PAYPAL_CLIENT_ID }}</p>
            <button id="test-button" class="btn btn-secondary mt-3">Δοκιμαστικό Κουμπί</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD"></script>
<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '10.00' // το ποσό πληρωμής
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                alert('Transaction completed by ' + details.payer.name.given_name);
                // Κάντε μια αίτηση POST στον server σας για να αποθηκεύσετε τις πληροφορίες πληρωμής
                fetch('{% url "execute_payment" %}', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        orderID: data.orderID
                    })
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '{% url "success" %}';
                    } else {
                        window.location.href = '{% url "error" %}';
                    }
                });
            });
        }
    }).render('#paypal-button-container');

    document.getElementById('test-button').addEventListener('click', function() {
        alert('Το δοκιμαστικό κουμπί πατήθηκε!');
    });
</script>
{% endblock %}
