{% extends 'base.html' %}

{% load static %}

{% block title %}Payment{% endblock %}

{% block content %}
<div class="container py-4 py-md-5 my-5">
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img-fluid" src="{% static 'img/illustrations/payment.svg' %}" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-9 text-center text-md-start">
            <h2 class="display-6 fw-bold mb-5">
                <span class="underline pb-1"><strong>Ολοκλήρωση - Πληρωμής</strong></span>
            </h2>
            <form method="post" action="{% url 'payment' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary shadow" type="submit">Πληρωμή</button>
            </form>
            <p class="mt-3">Ή χρησιμοποιήστε ένα από τα παρακάτω κουμπιά για πληρωμή:</p>
            <div class="stripe-buy-button-container mb-4">
                <script async src="https://js.stripe.com/v3/buy-button.js"></script>
                <stripe-buy-button
                  buy-button-id="buy_btn_1PhUct09cwMpk380v7jglEL0"
                  publishable-key="pk_test_51PMuwq09cwMpk380mLqEO8TRFmPxWbdkH6duCukc2IjEqUdnSCbAVM7EPnrxv7z7gXJOSGfotTkiQseG3tTmSI3t00uOMDJCfL">
                </stripe-buy-button>
            </div>
            <div id="paypal-button-container"></div>
            <!-- Προσθήκη εκτύπωσης για το PAYPAL_CLIENT_ID -->
            <p>PayPal Client ID: {{ PAYPAL_CLIENT_ID }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
    .stripe-buy-button-container {
        transform: scale(2);
        transform-origin: 0 0;
    }
</style>
{% endblock %}

{% block extra_js %}
<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD"></script>
<script>
    console.log('Loading PayPal Buttons...');
    paypal.Buttons({
        createOrder: function(data, actions) {
            console.log('Creating Order...');
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '10.00' // το ποσό πληρωμής
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            console.log('Order Approved...');
            return actions.order.capture().then(function(details) {
                alert('Transaction completed by ' + details.payer.name.given_name);
                // Κάντε μια αίτηση POST στον server σας για να αποθηκεύσετε τις πληροφορίες πληρωμής
                fetch('{% url "execute_payment" %}', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        orderID: data.orderID
                    })
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '{% url "success" %}';
                    } else {
                        window.location.href = '{% url "error" %}';
                    }
                });
            });
        }
    }).render('#paypal-button-container');
    console.log('PayPal Buttons rendered');
</script>
{% endblock %}
