{% extends "base.html" %}

{% block content %}
<h2>Προφίλ Χρήστη</h2>
<p><strong>Όνομα χρήστη:</strong> {{ current_user.username }}</p>
<p><strong>Email:</strong> {{ current_user.email }}</p>

<h3>Στοιχεία Tenant</h3>
{% if tenant %}
    <p><strong>Όνομα:</strong> {{ tenant.name }}</p>
    <p><strong>Ημερομηνία δημιουργίας:</strong> {{ tenant.created_on }}</p>
{% else %}
    <p>Δεν βρέθηκαν στοιχεία tenant.</p>
{% endif %}

<h3>Στοιχεία Συνδρομής</h3>
{% if subscription %}
    <p><strong>Τύπος Συνδρομής:</strong> {{ subscription.subscription_type }}</p>
    <p><strong>Ημερομηνία Έναρξης:</strong> {{ subscription.start_date }}</p>
    <p><strong>Ημερομηνία Λήξης:</strong> {{ subscription.end_date }}</p>
    <p><strong>Τιμή:</strong> {{ subscription.price }}</p>
    <p><strong>Ενεργή:</strong> {{ subscription.active }}</p>
{% else %}
    <p>Δεν βρέθηκαν στοιχεία συνδρομής.</p>
    <a href="{% url 'select_subscription' %}" class="btn btn-primary">Δημιουργία Συνδρομής</a>
{% endif %}

{% if subscription and subscription.active %}
    <h3>Προσωρινό Κλειδί</h3>
    <p><strong>Κλειδί:</strong> {{ temporary_key }}</p>

    <h3>Ενεργοποίηση Άδειας</h3>
    <form method="post" action="{% url 'activate_license' %}">
        {% csrf_token %}
        <input type="hidden" name="temporary_key" value="{{ temporary_key }}">
        <label for="hardware_id">Hardware ID:</label>
        <input type="text" id="hardware_id" name="hardware_id">
        <label for="computer_name">Computer Name:</label>
        <input type="text" id="computer_name" name="computer_name">
        <button type="submit" class="btn btn-primary">Activate License</button>
    </form>
    <a href="{% url 'select_subscription' %}" class="btn btn-secondary mt-3">Αλλαγή Συνδρομής</a>
{% endif %}
<a href="{% url 'password_change' %}" class="btn btn-primary">Αλλαγή Κωδικού Πρόσβασης</a>
{% endblock %}
