<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Φόρτωση του CSS απευθείας -->
    <link rel="stylesheet" href="/staticfiles/css/tables.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Overview</h2>
        </div>
        <div class="header-buttons">
            <button id="toggle-drag-mode" class="btn-primary">Change Tables Position</button>
            <button id="arrange-buttons" class="btn-primary">Arrange Tables</button>
            <div class="legend">
                <div class="legend-item">
                    <div class="legend-color" style="background-color: #FFFFFF; border: 1px solid #000;"></div>
                    Free table
                </div>
                <div class="legend-item">
                    <div class="legend-color" style="background-color: #FF5722;"></div>
                    Occupied
                </div>
                <div class="legend-item">
                    <div class="legend-color" style="background-color: #4CAF50;"></div>
                    Served
                </div>
            </div>
        </div>
        <div class="tables-container"></div>
    </div>

    <!-- Φόρτωση του JS απευθείας -->
    <script src="/staticfiles/js/tables.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
